<form method="post" action="{{ path('app_aluno_delete', {'id': aluno.id}) }}" onsubmit="return confirm('Você tem certeza que deseja excluir este registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aluno.id) }}">
    <button class="btn btn-danger mb-4 mt-3 ms-3">Excluir</button><br>
</form>
