{% extends 'base.html.twig' %}

{% block title %}Novo Aluno{% endblock %}

{% block body %}

    <h3 class="mt-5 mb-5">Cadastrar Aluno</h3>

    {{ include('aluno/_form.html.twig') }}

    <br><br><br>

{% endblock %}
